.number-box .current-number {
  font-size: 3rem;
  font-weight: bold;
  margin-bottom: 20px;
}

ion-item {
  border: 2px solid #ccc;
  border-radius: 5px;
  margin-bottom: 10px;
}

ion-input {
  padding: 10px;
}

.answer-count-box {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.correct-count,
.wrong-count {
  flex: 1;
  text-align: center;
}
