<ion-header>
  <ion-toolbar>
    <ion-title>
      Practice
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="background-image" >
  <!-- ABCD Test Card -->
  <ion-card (click)="goToABCDTest()">
    <ion-card-header>
      <ion-card-title>ABCD Test</ion-card-title>
    </ion-card-header>
  </ion-card>

  <!-- Number Test Card -->
  <ion-card (click)="goToNumberTest()">
    <ion-card-header>
      <ion-card-title>Number Test</ion-card-title>
    </ion-card-header>
  </ion-card>
</ion-content>
